! Xresources file

URxvt.font: xft:andale mono:size=10
URxvt.scrollBar: false
URxvt*background: black
URxvt*foreground: white

URxvt*.transparent: true
! URxvt*.shading: 0 to 99 darkens, 101 to 200 lightens
URxvt*.shading: 10
